<ion-view view-title="Add New">
    <!-- Nav Bar -->
    <ion-nav-bar class="bar">
        <ion-nav-buttons side="left">
            <i ui-sref="tabs.profileBoards" class="icon ion-ios-close-empty menu-icon-left"></i>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ng-form name="addNewForm">
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input name="Name" id="Name" ng-model="board.name" type="text" placeholder="" required>
                </label>
                <label class="item item-input custom-item-background no-background " ng-show="addNewForm.Name.$dirty && addNewForm.Name.$invalid">
                    <span class="error">Must provide board name</span>
                </label>
            </div>

            <button class="button button-block publish-button source-green" ng-click="postBoardForm()" >
                Post Board
            </button>
            
        </ion-content>
    </ng-form>
</ion-view>
