<ion-view view-title="Edit Settings">
  <!-- Nav Bar -->
  <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button class="button" ui-sref="tabs.settings">Back</button>
      </ion-nav-buttons>
  </ion-nav-bar>




  <ion-content ng-init="getProfile()">

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text"  ng-model="editProfileForm.username">
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="editProfileForm.email">
    </label>
  </label>
  <label class="item item-input">
    <span class="input-label">Description</span>
    <input type="text" ng-model="editProfileForm.description">
  </label>
  </div>

  <button class="button button-full button-balanced" ng-click="editUser()">
    Save
  </button>


</ion-view>
