<ion-view view-title="Login" class="login">


  <ion-content>

    <div class="list">

      <h3 class="headline">SOURCE</h3>

      <!-- Email or Username -->
      <!-- <label class="item item-input" style="background-color: rgba(255, 255, 255, 0.25); padding: 0.5em 1em;">
        <span class="input-label" style="color: #fff; font-weight: 600;">Email/Username</span><input type="text" ng-model="loginForm.email">
      </label> -->
      <!-- Password -->
      <!-- <label class="item item-input" style="background-color: rgba(255, 255, 255, 0.25); border-color: #60DA6B; padding: 0.5em 1em;">
        <span class="input-label" style="color: #fff; font-weight: 600;">Password</span><input type="password" ng-model="loginForm.password">
      </label> -->

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-email-outline"></i>
          <input type="text" placeholder="Email" ng-model="loginForm.email">
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-locked-outline"></i>
          <input type="password" placeholder="Password" ng-model="loginForm.password">
        </label>
      </div>


    </div>



    <div class="padding">
        <button class="button button-block button-outline" style="margin-bottom: 1.5em;" ng-click="login()">
            Login
        </button>
        <!-- <button ng-click="clickLoginWithFacebook()" class="button button-block button-outline icon-left" style="margin-bottom: 1.5em;">
            Facebook
        </button>
        <button ng-click="twitterLogin()" class="button button-block button-outline icon-left" style="margin-bottom: 1.5em;">
            Twitter
        </button> -->
        <p class="text-center">
            <span>Or, </span><a href="#/signup" class="text-decoration-none">Sign Up</a>
        </p>

    </div>


    </ion-content>
</ion-view>
