<ion-view view-title="Signup" class="login">

        <ion-content>
          <div class="list">

            <h3 class="headline">SIGN UP</h3>

            <!-- Email -->
            <!-- <label class="item item-input" style="background-color: rgba(255, 255, 255, 0.25); border-color: #60DA6B; padding: 0.5em 1em;">
              <span class="input-label" style="color: #fff; font-weight: 600;">Email</span><input type="text" ng-model="signupForm.email">
            </label> -->
            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-ios-email-outline"></i>
                <input type="text" placeholder="Email" ng-model="signupForm.email">
              </label>
            </div>

            <!-- username -->
            <!-- <label class="item item-input" style="background-color: rgba(255, 255, 255, 0.25); border-color: #60DA6B; padding: 0.5em 1em;">
              <span class="input-label" style="color: #fff; font-weight: 600;">Username</span><input type="text" ng-model="signupForm.username">
            </label> -->
            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-ios-person-outline"></i>
                <input type="text" placeholder="Username" ng-model="signupForm.username">
              </label>
            </div>



            <!-- Password -->
            <!-- <label class="item item-input" style="background-color: rgba(255, 255, 255, 0.25); border-color: #60DA6B; padding: 0.5em 1em;">
              <span class="input-label" style="color: #fff; font-weight: 600;">Password</span><input type="password" ng-model="signupForm.password">
            </label> -->

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-ios-locked-outline"></i>
                <input type="password" placeholder="Password" ng-model="signupForm.password">
              </label>
            </div>

          </div>

          <div class="padding">
            <button class="button button-block button-outline" style="margin-bottom: 1.5em;" ng-click="signup()">
              Sign up
            </button>
            <p class="text-center">
                <span>Or, </span><a href="#/login" class="text-decoration-none">Log In</a>
            </p>

          </div>
        </ion-content>

</ion-view>
