/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Colors

$source-gray:   #4B4B4B;
  // background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);


// =================================================================
//  # SOURCE
//  ================================================================

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Serif+Pro);


h1, h2, h3, h4, h5, h6, body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.tabs-light > .tabs {
  background: $source-gray;;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.30);
  padding-top: 0;
}




// =================================================================
//  # LOGIN
//  ================================================================

.login {
  background-image: linear-gradient(-180deg, #404042 0%, #FFFFFF 0%, #F7F7F7 32%, #F3F3F3 86%, #BFBFBF 100%);

  .item.item-input {
    border-radius: 2em;
  }

  input[type="text"], input[type="password"] {
    color: $source-gray;
    padding-left: 10px;
    &:focus {
      border-color: #60DA6B!important;
    }
  }

  .headline {
    text-align: center;
    color: $source-gray!important;
    letter-spacing: 10px;
    margin: 1em 1em;
  }

  // remvoves white background from ionic component
  .list-inset {
    background-color: transparent;
  }
  .button-outline.button-outline {
    border-color: #FFFFFF;
    background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);
    color: $source-gray;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 2em;
    padding: 5px;
  }
}




// =================================================================
//  # COLORS
//  ================================================================

.source-green {
opacity: 0.95;
background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);
}

.white {
  color: #fff!important;
}



// =================================================================
//  # UTILITIES
//  ================================================================

.padding-left-none {
  padding-left:0;
}

.text-decoration-none {
  text-decoration: none;
}


.source-outline-button {
  color: #fff;
}

.top-shadow {
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.06);
}

.opacity-95 {
  opacity: 0.95;
}


.like-button {
  .button.icon-left:before {
      color: #F78383;
  }
}

.save-for-later-button {
  .button.icon-left:before {
      color: #4BCEB1;
  }
}

// =================================================================
//  # Buttons
//  ================================================================

.follow-button-base {
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 200px;
  margin: 0 auto;
  color: #ffffff;
  &:hover {
    color: #fff;
  }
}

.follow-button {
  @extend .follow-button-base;
  background-image: linear-gradient(45deg, #4BCEB1 0%, #62EA70 100%);
  border: none;
}


.unfollow-button {
  @extend .follow-button-base;
  background: none;
  border-color: #62EA70;
}


// =================================================================
//  # NOTIFICATIONS
//  ================================================================

.liked-post {
  color: #fff;
}

.liked-post::before {
  color: #fff;
}


// =================================================================
//  # Folllowers followers-following
//  ================================================================

// .no-underline{
//     text-decoration: none!important;
// }



// =================================================================
//  # Profile
//  ================================================================



.profile--banner {
  background-color: #4B4B4B;
  color: #fff;
  .username {
    font-size: 1.5em;
    color: #FFFFFF;
    line-height: 39px;
    margin: 10px 0;
    font-weight: 700;
  }
  .description {
    margin: 5px 0;
    font-weight: 100;
    font-size: 1.2em;
  }
  .profile-column {
    a:link { text-decoration: none}
    text-align: center;
    .profile--number {
      text-decoration: none;
      color: #fff;
      /* List Items 2: */
      font-family: RobotoCondensed-Light;
      font-size: 30px;
      color: #5FDE94;
      line-height: 39px;
    }
    .profile-label {
      opacity: 0.54;
      font-family: 'Source Sans Pro', sans-serif !important;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 1.35px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }


}

.profile-face {
  width: 3em;
  border-radius: 4em;
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.no-text-wrap {
  white-space: normal;
}

.menu-icon-left {
  font-size: 2.5em;
  padding-left: 10px;
}

.menu-icon-right {
  font-size: 2em;
    padding-right: 14px;
    padding-top: 3px;
    color: #737373;
}

.full-image {
  width:100%;
}
// =================================================================
//  # Tab Bar
//  ================================================================

.tab-item .icon {
  margin: 6px auto;
}

.add-button {
  background-color: #000;
}

.active-tab {
  background-color: #303030;
}

.tab-item .icon {
  margin: 0px auto;
  padding: 7px 0;
  height: 100%;
  color: #57D263;
}

.tabs-top > .tabs {
    left: 0px;
}


// explore tab bar
.tabs-top.tabs-striped .tab-item.active {
  margin-top: 1px;
  border-width: 0px 0px 4px 0px !important;
  border-style: solid;
  border-color: #64E387;
}

// =================================================================
//  # Settings
//  ================================================================

.settings {
  .settings-bg {
    background-image: linear-gradient(45deg, #6D6D6D 0%, #4A4A4A 100%);
  }
  color: #fff;

}

// =================================================================
//  # Add
//  ================================================================


.preview-field {
  background: #FFFFFF;
  border-style: dotted;
  margin: 15px 15px 0px 15px;
  border-width: 2px;
  .preview {
    padding: 2em;
    text-align: center;
    text-transform: uppercase;;
    letter-spacing: 1px;
    color: #A1a1a1;
  }
}

.publish-button {
  color: #fff;
  border-width: 0;
  &:hover {
    color: #fff;
    opacity: 0.65;
  }
}



// =================================================================
//  #Reader
//  ================================================================
.reader--container {
  margin: 0px 20px;
}

.reader--content {
  font-family: 'Source Serif Pro', serif !important;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(69, 69, 69);
  white-space: pre-line;
}


.reader--title {
  font-size: 37px;
  color: #4A4A4A;
  line-height: 46px;
  margin-top: 20px!important;
  margin-bottom: 20px;
  font-weight: 800;
}

// =================================================================
//  #FOLLOWING
//  ================================================================

.followers-following {

    line-height: 3!important;


}








// =================================================================
//  # Article Thumb
//  ================================================================

.item-thumbnail-left > img:first-child {
  top: 0px;
  left: 0px;
  max-width: 125px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.item-thumbnail-left {
  padding-left: 139px;
  min-height: 82px;
  max-height: 82px;
}

.item h2 {
  white-space: normal;
  font-size: 13px;
}



// =================================================================
//  # Home
//  ================================================================

.home {
  .nav {
      box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.20)!important;
  }
}

// Transparent scroll bar
.sticky-header {
  background-color: rgba(255,255,255,.66) !important; /* or transparent, or background:none */
}
.scroll-content {
  overflow: visible !important;
}

.bar.bar-positive {
  border-color: #0c63ee;
  background-color: #387ef5;
  color: #fff;
}

.article-card {
  padding: 0;
  .article-card-inside {
    padding: 0px 15px;
  }
  .username {
    margin: .5em 0px;
    font-size: 1em;
  }
  .date {
    margin: .5em 0px;
    font-size: 1em;
  }
}

.article-title {
  font-size: 26px;
  color: #4A4A4A;
  line-height: 40px;
  font-weight: 600;
}

.article-summary {
  font-weight: 100;
  font-size: 20px;
  color: #4A4A4A;
  line-height: 30px;
  font-family: 'Source Sans Pro', sans-serif !important;
}
