/* Empty. Add your own CSS if you like */



input, textarea {
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}



.backdrop:not(.visible),
.loading-container:not(.visible) { display: none; }

.error {
    color:#e74c3c;
}


.tabs-striped.tabs-dark .tab-item.tab-item-active, .tabs-striped.tabs-dark .tab-item.active, .tabs-striped.tabs-dark .tab-item.activated {
  margin-top: 0 !important;
  color: #fff;
  border-style: solid;
  border-width: 0 0 0 0 !important;
  border-color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}
